.footerContainer{
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.footerContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.pFooter{
    color: white;
    text-align: center;
}
.cvButton{
    margin: 5px;
 background: white;
 color: #000000;   
 border: none;
 border-radius: 10px;
 font-size: large;
 margin-bottom: 30px;
}



@media (max-width: 600px) {
.footerContainer{
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.footerContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.pFooter{
    color: white;
    text-align: center;
}
 }