.mainContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    background-color: #432874;
    filter: drop-shadow(0px 0px 10px #59359a );
    border-radius: 10px;
    margin-left:5%;
    margin-right:5%;
    border:  5px solid #59359a;
}

.fraseMain {
    text-align: center;
    color: white;
    margin: 20px;
    font-size: xx-large;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
}

.pMain {
    color: white;
    text-align: center;
    margin: 10px;
    font-size: x-large;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
}

.perfilFoto {
    display: none;
}


@media (max-width: 600px) {
    .mainContainer {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        background-color: #432874;
        filter: drop-shadow(0px 0px 10px #59359a );
        border-radius: 10px;
        margin-left:5% ;
        margin-right:5% ;
        border:  5px solid #59359a;
    }

    .fraseMain {
        text-align: center;
        color: white;
        margin: 10px;
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
    }

    .pMain {
        color: white;
        text-align: center;
        margin: 10px;
        font-size: large;
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
    }

    .perfilFoto {
        display: none;
    }

}