.tecnologiasContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}
.General {
    background-color: #432874;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    border-radius: 10px;
    border:  5px solid #59359a;
    filter: drop-shadow(0px 0px 10px #59359a );
}
.buttonNav {
    background: #432874;
    border-radius: 10px;
    border: 5px solid #432874;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    transition: 0.1s;
}

.buttonNav:hover {
    scale: 1.2;
}

.a1 {
    font-size: 80px;
    color: white;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
}

.PP {
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 10rem;
    margin-left: 45%;
    margin-right: 45%;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
}
.H3oo {
    font-size: xx-large;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 2rem;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
}

@media (max-width: 600px) {
    .H3oo {
        font-size: xx-large;
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
        border-radius: 10px;
        color: white;
        text-align: center;
        margin-top: 1.5rem;
        margin-left: 15%;
        margin-right: 15%;
}

.General {
    background-color: #432874;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    border-radius: 10px;
    border:  5px solid #59359a;
    filter: drop-shadow(0px 0px 10px #59359a );
}

.tecnologiasContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
}

.buttonNav {
    background-color: #432874;
    border: 3px solid #432874;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-right: 2%;
    margin-left: 2%;
    transition: 0.1s;
}

.buttonNav:hover {
    scale: 1.2;
}

.a1 {
    font-size: 60px;
    color: white;

}

.PP {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.500) );
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-left: 30%;
    margin-right: 35%;
    margin-bottom: 1rem;
}
}