.tecnologiasContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10%;
}
.General {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 30%;
    height: 35rem;
    margin-left: 35%;
}
.buttonNav {
    background: none;
    border-radius: 10px;
    border: none;
    color: rgba(255, 255, 255, 0.500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    transition: 0.1s;
    font-weight: lighter;
    text-transform: uppercase;
}

.buttonNav:hover {
    scale: 1.2;
}

.a1 {
    font-size: 60px;
    color: white;
}

.PP {
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 10rem;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: lighter;
    text-decoration: underline;
}
.H3oo {
    font-size: xx-large;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
}

@media (max-width: 600px) {
    .H3oo {
        font-size: xx-large;
        border-radius: 10px;
        color: white;
        text-align: center;
        margin-top: 1.5rem;
        margin-left: 15%;
        margin-right: 15%;
        text-transform: uppercase;
}

.General {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: auto;
    height: auto;
}

.tecnologiasContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
}

.buttonNav {
    background-color: none;
    border:none;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-right: 2%;
    margin-left: 2%;
    transition: 0.1s;
}

.buttonNav:hover {
    scale: 1.2;
}

.a1 {
    font-size: 60px;
    color: white;

}

.PP {
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-left: 30%;
    margin-right: 35%;
    margin-bottom: 1rem;
}
}